<!DOCTYPE HTML>
<!--
	
	

-->
<html>
	<head>
		<title> Result</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/value.css" />
	</head>
	<body>
		<div class="page-wrap">

		

			<!-- Main -->
				<section id="main">

					<!-- 
					 -->
						<section id="banner2">
							<div class="inner">
							    <img src="{{ url_for('send_graph_1') }}"><br></br>
							    <img src="{{ url_for('send_graph_2') }}"><br></br>
							    <img src="{{ url_for('send_graph_3') }}">
								<p> For more details about asset allocation, please download following files.  </a></p>
								 <a href="{{url_for('send_assets')}}" <buttom class= "button big">
								 Asset allocation</button></a>
								<br></br>
									<a href="index.html" class="button big">Continue</a>
								
								
							</div>
						</section>

         	</section>
		</div>
                
		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
					
